/* ==============
   common css
================ */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ==============
   common css
================ */

/* ==============
   navbar start
================ */
.navbar{
    background: #1C1E53;
    padding: 16px !important;
}
.navbar .nav-link{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    padding: 0px !important;
}
.navbar .navbar-nav{
    column-gap: 32px;

}
.navbar .nav-item:hover .nav-link{
    color: #fff;
}
.navbar .btn{
    background: transparent;
    color: #BBBBCB;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    padding: 16px 48px;
    margin-left: 48px;
    transition: .4s;
}
.navbar .btn:hover{
    background: yellow;
    color: black;
    border-color: transparent;
}
/* ==============
   navbar start
================ */
/* ==============
   banner start
================ */
 .banner{
    background: #1C1E53;
    padding-top: 126px;
    padding-bottom: 157px;
} 
 .banner h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 74px;
    color: #ffff;

 }
 .banner p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #ffff;
    padding-top: 24px;
    padding-bottom: 48px;
 }
 .banner .banner-btn{
    background: yellow;
    color: #1B1C2B;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    border: 1px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    padding: 16px 56px;
    transition: .5s;
 }
 .banner .banner-btn:hover{
    background: transparent;
    color: #BBBBCB;  
}
.banner .banner-btn2{
    color: #ffff;
    margin-left: 40px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: relative;

}
.banner .banner-btn2 i{
    position: absolute;
    top: 4px;
    right: -21px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;

}
.banner .banner-btn2:hover i{
    right: -45px;
    opacity: 1;
    visibility: visible;
}
/* ================
    banner end
==================== */
/* ================
   work start
==================== */
.work{
    background: #F4F6FC;
    padding-top:128px;
    padding-bottom: 128px;
}
.work h2{
    width: 405px;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 64px;
    color: #282938;
}
.work p{
    width: 405px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #282938;
    opacity: 70%;
    padding: 16px 0px;
}
.work a{
    width: 244px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
    color: #2405F2;
    position: relative;
}
.work .work-btn i{
    position: absolute;
    top: 4px;
    right: -21px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}
.work .work-btn:hover i{
    right: -45px;
    opacity: 1;
    visibility: visible;
}
/* ======right part============ */
.pointer{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}
.right{
    width: 48%;
    
}
.work .right h3{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    color: #282938;
    padding-top: 16px;
    padding-bottom: 8px;
}
.work .right p{
    width: 303px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #282938;
    opacity: 70%;
    padding: 0px !important;
}

/* =================
    work end
==================== */
/* =================
    project start
==================== */
.project{
    padding: 128px 0px;
}
.project .upper-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;    
      
}
.upper-part h2{
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;  
    color: #282938;
}
.project .project-btn{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;
    position: relative;
}
.project .project-btn i{
    position: absolute;
    top: 4px;
    right: -21px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}
.project .project-btn:hover i{
    right: -45px;
    opacity: 1;
    visibility: visible;
}
.project img{
    width: 100%;
}
/* ======first overlay======== */
.project .parent-ani{
    position: relative;
    
    
}
.project .overlay h4{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
}
.project .overlay p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.80);
    padding-top: 16px;
    padding-bottom: 40px;
    line-height: 28px;
    
}
.project .overlay a{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #FCD980;
    position: relative; 
}
 .project .overlay a i{
    position: absolute;
    top: 4px;
    right: -25px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
} 
 .project .overlay a:hover i{
    opacity: 1;
    right: -58px;
    visibility: visible;
} 
.project .overlay{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 50%;
    background-image: linear-gradient(rgba(28, 30, 83, 0.42), #1C1E53);
    height: 100%;
    width: 50%;
    transition: 0.5s;
    padding: 312px 35px 76px 48px ;
}
.project .parent-ani:hover .overlay{
    left: 0%;
    opacity: 1;
} 

/* ======second overlay======== */
.project .parent2-ani{
    position: relative;
    overflow: hidden;   
}
.project .overlay2 h4{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 292px;
    line-height: 36px;
}

.project .overlay2 a{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #FCD980;
    position: relative; 
}
 .project .overlay2 a i{
    position: absolute;
    top: 4px;
    right: -25px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
} 
 .project .overlay2 a:hover i{
    opacity: 1;
    right: -58px;
    visibility: visible;
} 
.project .overlay2{
    position: absolute;
    
    top: -100%;
    left: 0;
    background-image: linear-gradient(rgba(28, 30, 83, 0.42), #1C1E53);
    height: 100%;
    width: 100%;
    transition: 0.5s;
    padding: 129px 36px 45px 56px ; 
    
}
.project .parent2-ani:hover .overlay2{
    top: 0%;
}
  /*============third overlay================ */
.project .parent3-ani{
    position: relative; 
    margin-top: 22px;
    overflow: hidden;  
}
.project .overlay3 h4{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 292px;
    line-height: 36px;
}

.project .overlay3 a{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #FCD980;
    position: relative; 
}
 .project .overlay3 a i{
    position: absolute;
    top: 4px;
    right: -25px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
} 
 .project .overlay3 a:hover i{
    opacity: 1;
    right: -58px;
    visibility: visible;
} 
.project .overlay3{
    position: absolute;
    bottom: -100%;
    left: 0;
    background-image: linear-gradient(rgba(28, 30, 83, 0.42), #1C1E53);
    height: 100%;
    width: 100%;
    transition: 0.5s;
    padding: 129px 36px 45px 56px ;    
}
.project .parent3-ani:hover .overlay3{
    bottom: 0%;
}
/* =================
    project end
==================== */
/* =================
   features  start
==================== */
.features{
    padding-top: 128px;
    padding-bottom: 128px;
    background: #F4F6FC;
}
.features .heading{
    text-align: center;
   
}
.features .heading h3{
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    width: 630px;
    line-height: 64px;
    margin-left: 26%;
    padding-top: 12px;
}
.features .heading h6{
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;   
    padding-top: 12px;
}
.features .box{
    row-gap: 32px;
    padding-top: 47px;
}
 .features .title{
    height: 316px;
    width: 405px;
    background: white;
    padding: 58px 32px 48px 48px;
}
.features .icon h3{
    color: #282938;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 22px;
    padding-bottom: 12px;
}
.features .icon p{
    color: #282938;
    opacity: 70%;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 324px;
}
/* =================
    features end
==================== */
/* =================
   comment start
==================== */
.comment{
    background: #F9FAFD;   
    padding-top: 128px;
    padding-bottom: 128px;
}
.comment .left h4{
    color: #282938;
    font-size: 38px;
    font-weight: 600;
    width: 327px;
    font-family: "Poppins", sans-serif;
}
.comment .left p{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
    width: 327px;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
}
.comment .right h5{
    color: #282938;
    font-size: 32px;
    font-weight: 500;
    width: 843px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 48px;
}
.comment .client{
    display: flex;
}
.comment .name{
    padding-left: 14px;
}
 .comment .name h6{
    color: #282938;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
    margin: 0px;   
}
.comment .name p{
    color: #282938;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    margin: 0px;   
}
/* =================
    que start
==================== */
.que{
    margin-top: 128px;
    margin-bottom: 128px;
}
.que .bam h3{
    color: #282938;
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 56px; 
    width: 328px;
     padding-bottom: 16px;
}
.que .bam a {
    color: #4025F4;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;  
}
.que a{
    color: #282938;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 36px;  
}
/* ===========acordian============== */
.que span{
    padding-right: 55px;
    color: #2405F2;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 36px;
}
.que .accordion-button{
    padding-right: 55px;
    color: #282938;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 36px;
}
.que .accordion-body p{
    padding-right: 55px;
    color: rgba(40, 41, 56, 0.87);
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
    width: 624px;
    margin-left: 80px;
}
.que .accordion-item {
    border: 0px !important;
}
.que .accordion-button:not(.collapsed){
    background-color: #ffff !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #ffff var(--bs-accordion-border-color) !important;
}
.accordion-button::after{
    width: 0px;
    height: 0px;
    content: "+";
    
} 

/* ======================= */

/* =================
      que end
==================== */
/* =================
      build start 
==================== */
.build{
    padding-top: 102px;
    padding-bottom: 140px;
}
.build .build-pic{
    position: relative;
}
/* .build .over{
    background: #1C1E53;
    padding: 96px 96px 261px 96px;
    position: absolute;
} */
.build .over h3{
    color:#ffff;
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 74px;
    width: 464px;
    padding-bottom: 24px;
}
.build .over p{
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 464px;
}

/* =================
      build end
==================== */
/* =================
      blog start
==================== */
.blog{
    margin-top: 128px;
    margin-bottom: 179px;
}
.blog h5{
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 64px; 
    padding-bottom: 64px; 
}
.blog .profile .date{
    color: rgb(40, 41, 56);
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    opacity: 70%;
    padding-top: 40px;

}
.blog .profile .value{
    color: #282938;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 28px; 
    width: 405px;
}
.blog .profile .about{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    opacity: 70%;
    width: 405px;
    padding-bottom: 32px;
}
.blog .profile a{
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    position: relative;
}
.blog .profile a i{
    position: absolute;
    top: 4px;
    right: -20px;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}
.blog .profile a:hover i{
    right: -50px;
    opacity: 1;
    visibility: visible;
}
/* =================
      blog end
==================== */
/* =================
      talk start
==================== */
.talk{
    background: #1C1E53;
    padding-top: 96px;
    
}
.talk .left .last{
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    opacity: 80%;
    width: 399px;
    padding-top: 22px;
    padding-bottom: 86px;
}
.talk .banner-small{
    background: #FCD980;
    width: 517px;
    padding: 17px 137px 16px 37px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.talk .banner-small .move{
    padding-left: 29px;

}
.talk .banner-small .first{
    color: #282938;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 32px;

}
.talk .banner-small .second{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    opacity: 80%;

}
.talk .right{
    margin-left: 81px;
}
.talk .right p{
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    opacity: 80%;
    width: 399px;
    
}
.talk .right h3{
    color: #ffff;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 64px;
    padding-bottom: 14px;
}
/* ========icon======= */
.talk .icon .box{
    display: flex;
    column-gap: 26px;
}
.talk .icon{
    background: #fff;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 95px;
}
.talk .icon .fb{
    padding-left: 72px;
    transition: .4s;
}
.talk .icon .fb:hover{
    color: #1877F2;
}
.talk .icon .twitter{
    transition: .4s;
}
.talk .icon .twitter:hover{
    color: #1a1414;
}
.talk .icon .insta{
    transition: .4s;
}
.talk .icon .insta:hover{
    color: #D804E3;
}
.talk .icon .in{
    transition: .4s;
}
.talk .icon .in:hover{
    color: #0C64C5;
}
/* ============== */

/* =================
      talk end
==================== */
/* =================
      last-part start
==================== */
.last-part{
    margin-top: 32px;
    margin-bottom: 32px;
}
.last-part p{
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
}
 .last-part .navbar{
    background: #ffffff;
    padding: 16px !important;
}
.last-part .navbar .nav-link{
    color: #282938;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    padding: 0px !important;
}
.last-part .navbar .navbar-nav{
    column-gap: 32px;

}
.last-part .navbar .nav-item:hover .nav-link{
    color: #000000;
text-shadow: 0px -3px 12px #695252;
}

/* =================
      last-part start end
==================== */





