/* ==============
   common css
================ */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* ==============
   common css
================ */

/* ==============
   navbar start
================ */
.navbar{
    background: #1C1E53;
    padding: 16px !important;
}
.navbar .nav-link{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
    padding: 0px !important;
}
.navbar .navbar-nav{
    column-gap: 32px;

}
.navbar .nav-item:hover .nav-link{
    color: #fff;
}
.navbar .btn{
    background: transparent;
    color: #BBBBCB;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    padding: 16px 48px;
    margin-left: 48px;
    transition: .4s;
}
.navbar .btn:hover{
    background: yellow;
    color: black;
    border-color: transparent;
}
/* ==============
   navbar start
================ */
/* ==============
   banner start
================ */
 .banner{
    background: #1C1E53;
    padding-top: 126px;
    padding-bottom: 157px;
} 
 .banner h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 74px;
    color: #ffff;

 }
 .banner p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #ffff;
    padding-top: 24px;
    padding-bottom: 48px;
 }
 .banner .banner-btn{
    background: yellow;
    color: #1B1C2B;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    border: 1px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    padding: 16px 56px;
    transition: .5s;
 }
 .banner .banner-btn:hover{
    background: transparent;
    color: #BBBBCB;  
}
.banner .banner-btn2{
    color: #ffff;
    margin-left: 40px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: relative;

}
.banner .banner-btn2 i{
    position: absolute;
    top: 4px;
    right: -21px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;

}
.banner .banner-btn2:hover i{
    right: -45px;
    opacity: 1;
    visibility: visible;
}
/* ================
    banner end
==================== */
/* ================
   project start
==================== */
.work{
    background: #F4F6FC;
    padding-top:128px;
    padding-bottom: 128px;
}
.work h2{
    width: 405px;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 64px;
    color: #282938;
}
.work p{
    width: 405px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #282938;
    opacity: 70%;
    padding: 16px 0px;
}
.work a{
    width: 244px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
    color: #2405F2;
    position: relative;
}
.work .work-btn i{
    position: absolute;
    top: 4px;
    right: -21px;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}
.work .work-btn:hover i{
    right: -45px;
    opacity: 1;
    visibility: visible;
}
.pointer{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}
.right{
    width: 48%;
    
}
.work .right h3{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    color: #282938;
    padding-top: 16px;
    padding-bottom: 8px;
}
.work .right p{
    width: 303px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #282938;
    opacity: 70%;
    padding: 0px !important;
}



/* =================
    project end
==================== */

